*{
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #657de9, #764aa1);
   
   line-height: 1.6;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

 
}
 .section-title{
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 120px;
  
 }
 .sec-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: auto;
    padding-bottom: 60px;
    
   
 }
 .sec-line{
    background-color: gold;
    height: 1px;
    width: 150px;
    margin-top: 0px;
    padding-bottom: 5px;
    border-radius: 50px;
    margin-bottom: 100px;
    transition: 0.25s;
 }
 .sec-line:hover{
    width: 300px;
    background-color: purple;
 }
 .box{
    display: flex;
    justify-content: center;
    gap:50px
 
 }
.box-item{
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 9px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
     background: linear-gradient(135deg, #667eea, #764ba2);
    
 }
